#sample-a1{
    font-size: 24px;
    color: blue;
}

#sample-a2{
    font-size: 26px;
    text-decoration: none;
    color: green;
}


#sample-a3 {
      text-decoration: none;
}

#sample-a3:link { /* unvisited */
    color: red;
}

#sample-a3:visited { 
    color: blue;
}

#sample-a3:hover { 
    color: green;
    font-size: 24px;
    
}

#sample-a3:active { 
    font-size: 50px;
    text-decoration: underline;
}
