body{
    padding:0;
    margin: 0;
}

div{
    padding:5px;
}

#header, #footer {
    background-color: lightblue;
}

#container {
    background-color: lightgray;
}

#div-1 {
    background-color: lightsalmon;
}

#div-2{
    background-color: lightgreen;
}

#div-3{
    background-color: lightpink;
}

#div-4{
    background-color: lightyellow;
}

/*position:
static  -default normal position
fixed   -position respect to browser window
         -from top bottom right left
relative    -position respect to it original position
            without fill it place
absolute    -forever taking place not like absolute
*/


/*
#div-4{
    position: fixed;
    top: 32px;
    right: 32px
}
*/
/*
#div-4{
    position: fixed;
    bottom: 32px;
    left:32px
}
*/

/*
#div-2 {
    position: relative;
    left: 32px;
    top: 32px;
}
*/

#div-3 {
    position: absolute;
    left: 32px;
    top: 32px;
}

