{% extends 'main.html' %}

{% block title %}
(examples)All Projects
{% endblock title %}


{% block content %}
<h1>Projects</h1>
<hr>
<ul>
        {% for project in projects %}
            <li>
                Name: <a href="{% url 'project' project.id %}">- {{project.title}}</a>  
                (<a href="{% url 'update-project' project.id %}">edit</a>)
                (<a href="{% url 'delete-project' project.id %}">delete</a>)
            </li>
        {% endfor %}
</ul>
{% endblock content %}