#sample-div1{
    padding: 15px;
    background-color: lightyellow;
}

#sample-div2{
    border: 1px solid #111;
    height:120px;
    background-image: url(https://yt3.ggpht.com/a/AATXAJyqSRx00xpSgFeBDiJCF1AVEyu8o0W1Uv9i2w=s88-c-k-c0xffffffff-no-rj-mo);
}

#sample-div3{
    border: 1px solid #111;
    height:120px;
    background-image: url(https://yt3.ggpht.com/a/AATXAJyqSRx00xpSgFeBDiJCF1AVEyu8o0W1Uv9i2w=s88-c-k-c0xffffffff-no-rj-mo);
    background-repeat: repeat-y;
}

#sample-div4{
    border: 1px solid #111;
    height:120px;
    background-image: url(https://yt3.ggpht.com/a/AATXAJyqSRx00xpSgFeBDiJCF1AVEyu8o0W1Uv9i2w=s88-c-k-c0xffffffff-no-rj-mo);
    background-repeat: no-repeat;
    background-position: center center; /* (top,center,bottom) (left,center,right) */
}

#sample-div5{
    border: 1px solid #111;
    height:120px;
    background-image: url(https://yt3.ggpht.com/a/AATXAJyqSRx00xpSgFeBDiJCF1AVEyu8o0W1Uv9i2w=s88-c-k-c0xffffffff-no-rj-mo);
    background-repeat: no-repeat;
    background-position: 100px 20%; /*left and top*/
}

#sample-div6{
    border: 1px solid #111;
    height:600px;
    background-image: url(https://yt3.ggpht.com/a/AATXAJyqSRx00xpSgFeBDiJCF1AVEyu8o0W1Uv9i2w=s88-c-k-c0xffffffff-no-rj-mo);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}


#sample-div7{/*Shortcut*/
    border: 1px solid #111;
    height:400px;
    background-image: 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background: 
        lightyellow 
        url(https://yt3.ggpht.com/a/AATXAJyqSRx00xpSgFeBDiJCF1AVEyu8o0W1Uv9i2w=s88-c-k-c0xffffffff-no-rj-mo)
        scroll
        center center
        no-repeat
        ;
    /*C I A P R*/
}