#sample-h1{
    font-size: 2.2em;
    
}

#sample-h2{
    font-size: 1.8em;
    font-family: "Lucida Grande",Halvatica, Arial; /*Search types on Google */ 
}

#sample-h3{
    font-size: 1.4em;
    font-style:italic;
}

.sample-h1{
    font-weight: 700; /*100 - 900 bold, bolder, lighter*/
    
}

.sample-h2{
    font-variant: small-caps; /*none*/
    
}

.sample-h3{
    
    /* S V W Si/Ha Ff */
    font: italic small-caps 300 48px/140px Arial;
    
}