#sample-ul1{
    list-style-type: square; /* none circle disc */
}

#sample-ul2{
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#sample-ul3{
    width: 100px; /*50%*/
}

#sample-ul4{
    width: 150px; /*50%*/
    list-style-position: inside; /* outside */
}

#sample-ul5{
    list-style-image: url(https://yt3.ggpht.com/a/AATXAJyqSRx00xpSgFeBDiJCF1AVEyu8o0W1Uv9i2w=s176-c-k-c0xffffffff-no-rj-mo)
}

#sample-ul6 li{
   display: inline;
}

$sample-ol1{
    list-style-type: upper-roman; /* lower-roman lower-alpha upper=alpha */
}