.App { text-align: center; }

.App-logo { height: 40vmin; pointer-events: none; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo { animation: App-logo-spin infinite 20s linear; }
}
body{
  background-color: #cee3ff62;
}
.App-header {
  background-color: #a3cafd96;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px +s2vmin);
  color: rgb(1, 110, 12s);
}

.App-link { color: #2f6f81; }

.textField input{
  background-color: #cbe0fa;
  border-radius: 4px;       
  color: rgb(1, 72, 131);
}