.main-navbar-custom {
    background-color: #131921;
}

.sub-navbar-custom {
    background-color: #232F3E;
    height: 40px;
}

#logo {
    cursor: pointer;
}

.contant {
    display: flex;
    background-color: #C1C4BE;
}

.container {
    background-color: white;
    text-align: center;
}

.item {
    width: 100%;
}

.side-nav {
    padding: 12px 15px;
    width: 25%;
}
h2.form-input{
    text-align: center;
}

input {
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#addBtn {
    display: block;
    margin: auto;
    margin-top: 5px;
}

.footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}